.nav-menu {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  align-items: center;
  transition: right 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    position: fixed;
    padding-top: 70px;
    background-color: #fff;
    overflow: auto;
    height: 100dvh;
    right: -100%;
    margin-right: 0;
    top: 0;
    width: 70%;
    align-items: flex-start;
    padding-bottom: 100px;
    overflow-x: hidden;
    z-index: 2;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
