@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222 47% 11%;
      --primary: 217 91% 60%;
      --border: 214 32% 91%;
    }
  
    .dark {
      --background: 222 47% 11%;
      --foreground: 210 40% 98%;
      --primary: 217 91% 60%;
      --border: 217 19% 27%;
    }
  }
  