/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap'); */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
     --primary: #D97706;
     --black:#212121;
    --secondary: oklch(0.97 0 0);
    --surface: #16171a;   
    --grayAccent: #E5E7EB;
    --lightSurface: #F9FAFB;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
      --coral: #C86D4E;
      --teal: #8aadb2;    
      --mustard: #D9A441;
      --indigo: #5D5FEF;
}

@theme inline {

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary:var(--primary);
  --color-secondary:var(--secondary);
    --color-teritary:var(--teritary);
  --color-surface:var(--surface);
  --color-grayAccent:var(--grayAccent);
    --color-lightSurface:var(--lightSurface);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-primary-foreground: var(--primary-foreground);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
      --color-coral: var(--coral);
      --color-teal: var(--teal);    
      --color-mustard: var(--mustard);
      --color-indigo: var(--indigo);
        --color-black: var(--black);
        --font-panchangBold:var(--font-panchang-bold);
        --font-panchang-medium:var(--font-panchang-medium);
        --font-panchang-regular:var(--font-panchang-regular);
        --font-panchang-semibold:var(--font-panchang-semibold);
        --font-Archivo-italic:var(--font-Archivo-italic);
        --font-Archivo-medium:var(--font-Archivo-medium);
        --font-Archivo-regular:var(--font-Archivo-regular);
        --font-Archivo-semibold:var(--font-Archivo-semibold);
        --font-Archivo-black:var(--font-Archivo-black);
        --font-Archivo-blackitalic:var(--font-Archivo-blackitalic);
}

@media (prefers-color-scheme: dark) {
  :root {
 --primary: #D97706;
    --secondary: #f6f6f6;
    --teritary:#212121;
    --surface: #16171a;   
    --grayAccent: #E5E7EB;
    --lightSurface: #F9FAFB;
    --primary-light:#ffdbb3;
    --black:#212121;
 --coral: #C86D4E;
      --teal: #3AA6A0;    
      --mustard: #D9A441;
      --indigo: #5D5FEF;
  }
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.font-orbitron {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  letter-spacing: 0.05em;
}

.font-play {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

/* Example: A monospace fallback if you want for code snippets */
.font-mono {
  font-family: "Courier New", Courier, monospace;
}

.font-play{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;

}

body {
  background: var(--secondary);
  color: var(--black);
  font-family: var(--font-Archivo-regular);
  font-style: normal;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}


.heading {
  background: linear-gradient(to right, #0d5de3 0%, #D97706 70%);
  line-height: 1.2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font); /* replace with actual font if needed */
}



@layer utilities {
  .animate-marquee-left {
    animation: marquee-left 200s linear infinite;
  }
  .animate-marquee-right {
    animation: marquee-right 200s linear infinite;
  }

    .animate-up {
    animation: marquee-upDown 200s linear infinite;
  }

  @keyframes marquee-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(50%);
    }
  }

    @keyframes marquee-upDown {
    0% {
      transform: translatey(0%);
    }
    100% {
      transform: translatey(50%);
    }
  }

  .text-stroke {
    -webkit-text-stroke: 5px #111111;
    color: transparent;
  }
}
body::-webkit-scrollbar {
  display: none;
}


/* styles.css or global.css */
.clip-bottom-triangle {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}


.svg {
  width: 50%;
  height: auto;
  position: relative;
}

.svg svg {
  width: 100%;
  height: 100%;
  stroke: #fff;
}

.svg .svg1 {
  animation: infin2 6s infinite;
  position: relative;
  z-index: 1;
}

.svg .svg2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}


@keyframes infin2 {
  0% {
    stroke-dasharray: 270;
    stroke-dashoffset: 1100;
    /* filter: drop-shadow(0 0 0.75vw #1779ff); */
  }
  25% {
    stroke-dasharray: 270;
    stroke-dashoffset: 2200;
  }
  50% {
    stroke-dasharray: 270;
    stroke-dashoffset: 3300;
  }
  75% {
    stroke-dasharray: 270;
    stroke-dashoffset: 4400;
  }
  100% {
    stroke-dasharray: 270;
    stroke-dashoffset: 5450;
    
  }
}

@keyframes line {
  0%, 100% {
    stroke-dasharray: 169;
    stroke-dashoffset: 628;
  }
  50% {
    stroke-dasharray: 690;
    stroke-dashoffset: 200;
  }
}